<nav aria-label="Page navigation" *ngIf="pageInfo() && pageInfo().totalPages > 0">
  <ul class="pagination justify-content-center">
    <ng-container *ngIf="pageInfo().totalPages === 1">
      <li class="page-item active">
        <span class="page-link">1</span>
      </li>
    </ng-container>

    <ng-container *ngIf="pageInfo().totalPages > 1">
      <li class="page-item" [class.active]="pageInfo().number + 1 === 1">
        <button class="page-link" (click)="selectPage(1)">1</button>
      </li>

      <li class="page-item disabled" *ngIf="showLeftEllipsis">
        <span class="page-link">...</span>
      </li>

      <ng-container *ngFor="let page of visiblePages">
        <li class="page-item" [class.active]="pageInfo().number + 1 === page">
          <button class="page-link" (click)="selectPage(page)">{{ page }}</button>
        </li>
      </ng-container>

      <li class="page-item disabled" *ngIf="showRightEllipsis">
        <span class="page-link">...</span>
      </li>

      <li class="page-item" [class.active]="pageInfo().number + 1 === pageInfo().totalPages">
        <button class="page-link" (click)="selectPage(pageInfo().totalPages)">{{ pageInfo().totalPages }}</button>
      </li>
    </ng-container>
  </ul>
</nav>
