<h1 class="mb-4">Добавление нового поста</h1>
<form (ngSubmit)="addNewPost()" #postForm="ngForm">
  <div class="mb-3">
    <label for="title" class="form-label">Заголовок</label>
    <input
      type="text"
      id="title"
      class="form-control"
      placeholder="Введите заголовок поста"
      required
      [(ngModel)]="model.title"
      name="title">
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Основной контент</label>
    <textarea
      id="content"
      class="form-control"
      rows="6"
      placeholder="Введите текст поста"
      required
      [(ngModel)]="model.content"
      name="content"></textarea>
  </div>
  @if (!loading()) {
    <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">
      Опубликовать
    </button>
  } @else {
    <button class="btn btn-primary" type="button" disabled>
      <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
      <span role="status">Публикуем...</span>
    </button>
  }
</form>
